.footer__container {
  width: 100%;
  background: rgb(27, 27, 27);
  border-bottom: 2px solid #fff;
  padding: 0 2rem;
}

.footer__inner_container {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.footer__logo {
  padding: 20px 0;
}

.footer__logo .logo {
  padding: 10px 0;
  width: 2rem;
  height: 1.5rem;
}
